apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
  namespace: bu-a-workloads
  labels:
    app: sample-app
    bu: bu-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
        bu: bu-a
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
          envFrom:
            - configMapRef:
                name: app-config
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: app-html
            items:
              - key: index.html
                path: index.html
