apiVersion: v1
kind: Service
metadata:
  name: sample-app
  namespace: bu-a-workloads
  labels:
    app: sample-app
    bu: bu-a
spec:
  selector:
    app: sample-app
  ports:
    - port: 80
      targetPort: 80
