name: Lint YAML

on:
  pull_request:
    branches: [main]
    paths:
      - '**/*.yaml'
      - '**/*.yml'

jobs:
  yamllint:
    name: yamllint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint
        run: yamllint -c .github/yamllint.yaml .
